* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    min-height: 100vh;
    background-color: #f4f4f9;
    color: #333;
}

header > h1 {
    color: white;
    padding-top: 30px;
    padding-left: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #30782B;
}

form {
    max-width: 800px;
    margin: 0 auto;
}

.sessao {
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0,0,0,0.1);
    padding: 25px;
    margin-bottom: 25px;
}

.sessao legend {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 15px;
    color: #30782B;
}

label {
    display: block;
    font-weight: bold;
    padding-top: 12px;
    margin-bottom: 5px;
}

input[type="text"],
input[type="url"],
input[type="file"],
select,
textarea {
    width: 100%;
    padding: 10px 12px;
    margin-bottom: 15px;
    border-radius: 10px;
    border: 2px solid #ccc;
    outline: none;
    transition: 0.3s;
}

input[type="text"]:focus,
input[type="url"]:focus,
select:focus,
textarea:focus {
    border-color: #30782B;
}

textarea {
    min-height: 60px;
    resize: vertical;
}

button {
    padding: 12px 18px;
    border: none;
    border-radius: 10px;
    background-color: #30782B;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

button:hover {
    transform: scale(1.05);
    background-color: #22531E;
}


.autor, .objetivo, .metodologia, .link {
    margin-bottom: 10px;
}

h3 {
    margin-top: 20px;
    margin-bottom: 10px;
    color: #000000;
}

@media (max-width: 768px) {
    form {
        padding: 0 10px;
    }
    .sessao {
        padding: 20px;
    }
}
