* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f4f4f4;
}

.container {
    width: 90%;
    max-width: 1200px;
    height: 800px;
    margin: 40px auto;
    display: flex;
    gap: 20px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.15);
    padding: 10px;
    overflow: hidden;
}

.left {
    width: 72%;
}

.left > div {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
}

.left h1 {
    font-size: 30px;
    color: #0f6f29;
    margin-bottom: 15px;
}

.left .descricao {
    padding-bottom: 5px;
}

.left .descricao p {
    /* evita que o texto ultrapasse a largura do contêiner */
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    white-space: pre-wrap;
}

.left .block2 h1,
.left .block3 h1,
.left .block4 h1  {
    background-color: #0f6f29;
    color: white;
    padding: 10px;
    font-size: 20px;
}

.left .block2 h1,
.left .block3 h1,
.left .block4 h1 {
    text-align: center;
}

.left .block1 {
    padding-bottom: 1px;
    margin-bottom: 1px;
}

.left hr {
    margin: 8px 0;
    border: 0;
    border-top: 1px solid #e6e6e6;
}

ul {
    margin-top: 10px;
}

ul li {
    font-size: 16px;
    margin-left: 18px;
    line-height: 1.5;
}

.right {
    width: 10%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.right .media-block {
    background-color: #1b3220;
    width: 300px;
    height: 2000px;
    border-radius: 12px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.25);
    display: flex;
    align-items: center;
    justify-content: center;
}

.right .media-block i {
    font-size: 50px;
    color: white;
}
