* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #f4f4f4;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
    display: flex;
    gap: 20px;
}

.left {
    width: 70%;
}

.left > div {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.15);
}

.left h1 {
    font-size: 22px;
    color: #0f6f29;
    margin-bottom: 15px;
}

.left .block2 h1,
.left .block3 h1,
.left .block4 h1  {
    background-color: #0f6f29;
    color: white;
    padding: 10px;
    border-radius: 6px;
    font-size: 20px;
}

ul {
    margin-top: 10px;
}

ul li {
    font-size: 16px;
    margin-left: 18px;
    line-height: 1.5;
}

.right {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.right .media-block {
    background-color: #1b3220;
    width: 100%;
    height: 150px;
    border-radius: 12px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.25);
    display: flex;
    align-items: center;
    justify-content: center;
}

.right .media-block i {
    font-size: 50px;
    color: white;
}
