{% extends 'base.html' %}

{% block title %}
    Cadastre-se
{% endblock %}

{% block pagina %}
    Cadastre-se
{% endblock %}

{% block conteudo %}

{% include 'componentes/erro.html' %}
<p>Crie sua conta e faça parte do IFNexus.</p>
<form action="{{ url_for('login') }}" method="post">
  <input type="text" name="nome" placeholder="Nome de Usuário">
    <input type="text" name="email" placeholder="Email">
    <input type="password" name="senha" placeholder="Senha">
    <input type="password" name="senha" placeholder="Confirme sua senha">
    <button>Cadastre-se</button>
</form>

<p>
    Já tem conta?
    <a href="{{ url_for('login') }}">Conecte-se</a>
</p>

{% endblock %}
