{% extends 'base.html' %}

{% block title %}Cadastre-se{% endblock %}

{% block conteudo %}

{% include 'componentes/erro.html' %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/auth/register.css') }}">

<div class="page-center">
    <div class="container">

        <div class="logo">
            <img src="{{ url_for('static', filename='img/geral/ifnexus-logobranca.svg') }}" alt="IFNexus Logo">
        </div>
        
        <div class="botoes">
            <p>Crie sua conta e faça parte do IFNexus.</p>

            <form action="{{ url_for('auth.register') }}" method="post">
                <div class="input-group">
                    <input type="text" name="name" placeholder="Nome de Usuário">
                    <span class="icon"></span>
                </div>
                <div class="input-group">
                    <input type="text" name="email" placeholder="Email">
                    <span class="icon"></span>
                </div>
                <div class="input-group">
                    <input type="password" name="password" placeholder="Senha">
                    <span class="icon"></span>
                </div>
                <div class="input-group">
                    <input type="password" name="confirm_password" placeholder="Confirme sua senha">
                    <span class="icon"></span>
                </div>
                <button>Cadastre-se</button>
                <div class="loginsuap">
                    <a href="{{ url_for('auth.login_suap') }}" class="btn-suap">Cadastrar-se com o <strong>SUAP</strong></a>
                </div>
            </form>
        </div>
    </div>

    <div class="subcontainer">
        <p>
            Já tem uma conta?
            <a href="{{ url_for('auth.login') }}">Conecte-se</a>
        </p>
    </div>
</div>

{% endblock %}
